:host {
    display: flex;
    justify-content: left;
    align-items: left;
    height: 100vh;
    position: relative;
    width: 100%;
    flex-direction: column;
    ::ng-deep .form-label {
      display: none;
    }
    nav {
      color: white;
      height: 80px;
      div {
        margin: 0 20px;
      }
    }
  }
  