:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  
    position: relative;
  
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: linear-gradient(45deg, rgba(76, 175, 80, 0.5), rgba(33, 150, 243, 0.5)); 
    border-radius: 10px;
      border-radius: 10px;
    }
  
    .container {
      width: 400px;
      border: 2px solid #000;
      padding: 20px;
      border-radius: 10px;
      background-color: #f0f0f0;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; 
      position: relative;
      z-index: 1;
    }
  
    .form-group {
      width: calc(50% - 10px);
      margin-bottom: 10px;
    }
  
    button {
      margin: 5px;
    }
  
    ::ng-deep formly-field,
    ::ng-deep formly-field-mat-datepicker {
      width: calc(50% - 10px); 
    }
  
    ::ng-deep mat-form-field,
    ::ng-deep formly-field-mat-datepicker {
      margin: 5px;
    }
  
    ::ng-deep .mat-mdc-text-field-wrapper {
      background-color: transparent !important;
    }
  
    ::ng-deep formly-wrapper-mat-form-field {
      display: flex;
      flex-direction: column;
    }
  
    ::ng-deep .mat-mdc-form-field-infix {
      margin-top: 5px;
    }
  
    ::ng-deep .mat-mdc-form-field-error {
      color: red;
    }
  }
  